<section id="homeContext">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                <clr-icon _ngcontent-c10="" ng-reflect-ng-class="[object Object]" shape="grid-view"></clr-icon>
                  常用操作
              </div>
              <div class="card-block">
                  <ul class="list">
                      <li>Ullamco Laboris</li>
                      <li>
                          Nisi Ut Aliquip
                          <ul class="list">
                              <li>Exercitation</li>
                              <li>Laboris</li>
                              <li>Commodo</li>
                          </ul>
                      </li>
                      <li>Consequat</li>
                      <li>Excepteur sint occaecat cupidatat non proident</li>
                      <li>Enim ad Minim</li>
                      <li>
                          Occeaecat
                          <ul class="list-unstyled">
                              <li>Exercitation</li>
                              <li>Laboris</li>
                              <li>Commodo</li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                  <clr-icon _ngcontent-c10="" ng-reflect-ng-class="[object Object]" shape="pinboard"></clr-icon>
                  待办事项
              </div>
              <div class="card-block">
                  <ol class="list">
                      <li>Ullamco Laboris</li>
                      <li>
                          Nisi Ut Aliquip
                          <ol class="list">
                              <li>Exercitation</li>
                              <li>Laboris</li>
                              <li>Commodo</li>
                          </ol>
                      </li>
                      <li>Consequat</li>
                      <li>Excepteur sint occaecat cupidatat non proident</li>
                      <li>Enim ad Minim</li>
                      <li>
                          Occeaecat
                          <ol class="list-unstyled">
                              <li>Exercitation</li>
                              <li>Laboris</li>
                              <li>Commodo</li>
                          </ol>
                      </li>
                  </ol>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                  <clr-icon _ngcontent-c10="" ng-reflect-ng-class="[object Object]" shape="bubble-exclamation"></clr-icon>
                  公告消息

              </div>
              <div class="card-block">
                  <p class="card-text">
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
              <div class="card-block">
                  <ul class="list-unstyled">
                      <li>Ullamco Laboris</li>
                      <li>
                          Nisi Ut Aliquip
                          <ul class="list">
                              <li>Exercitation</li>
                              <li>Laboris</li>
                              <li>Commodo</li>
                          </ul>
                      </li>
                      <li>Consequat</li>
                  </ul>
              </div>
              <div class="card-footer">

                  <a class="card-link pull-left">更多... <span class="badge badge-1">90</span></a>
              </div>

          </div>
      </div>
  </div>


  <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="card-block">
                  图表
              
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="card-block">
                  图表
              
              </div>
          </div>
      </div>


      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="card-block">
                  图表
              
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="card-block">
                  图表
              
              </div>
          </div>
      </div>
  </div>

</section>