<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-header"><!-- Search Form -->

      <form>
        <div class="form-group row">
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="krb5_cn">Krb5 Name</label>
          </div>
          <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="krb5_name" name="clusterName" placeholder="Enter Krb5 name here" size="20" [(ngModel)]="krb5.clusterName" />
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <label for="krb5_uid">User ID</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="text" id="krb5_uid" name="uid" placeholder="Enter user uid here" size="20" [(ngModel)]="krb5.uid" />
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-sm" (click)="search()">
              <clr-icon shape="search"></clr-icon>
              Search
            </button>
            <button class="btn btn-primary btn-sm" (click)="reset(clusterForm)">
              <clr-icon shape="search"></clr-icon>
              Reset
            </button>
          </div>
        </div>
      </form>

    </div><!-- // Search Form -->

    <div class="card-block"><!-- Data Grid -->
      <div class="card-title">
        <!-- <div class="btn-group btn-primary"> -->
          <button class="btn btn-primary btn-sm" (click)="create()">
            <clr-icon shape="add"></clr-icon>
          Add User
          </button>

          <button class="btn btn-primary btn-sm" [disabled]="!singleSelected" (click)="update(singleSelected)">
            <clr-icon shape="edit"></clr-icon>
          Edit User
          </button>

          <button class="btn btn-danger btn-sm" [disabled]="!singleSelected" (click)="delete(singleSelected)">
            <clr-icon shape="remove"></clr-icon>
          Remove User
          </button>
        <!-- </div> -->
        
      </div>

      <div class="card-text">
        <clr-datagrid [(clrDgSingleSelected)]="singleSelected">
          <clr-dg-column><ng-container *clrDgHideableColumn="{hidden: true}">ID</ng-container></clr-dg-column>
          <clr-dg-column [clrDgField]="'clusterId'">Cluster</clr-dg-column>
          <clr-dg-column [clrDgField]="'krb5Name'">Krb5 Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'ipv4'">IPV4</clr-dg-column>
          <clr-dg-column [clrDgField]="'ipv6'">IPV6</clr-dg-column>
          <clr-dg-column [clrDgField]="'cpuCount'">CPU Cores</clr-dg-column>
          <clr-dg-column [clrDgField]="'cpuInfo'">Cpu Info</clr-dg-column>
          <clr-dg-column [clrDgField]="'totalMem'">Memory</clr-dg-column>
          <clr-dg-column [clrDgField]="'osType'">OS</clr-dg-column>
          <clr-dg-column [clrDgField]="'clusterInfo'">Krb5 Info</clr-dg-column>
          <clr-dg-column [clrDgField]="'modifyTime'">Modify Time</clr-dg-column>
          <clr-dg-column [clrDgField]="'createTime'">Create Time</clr-dg-column>
          <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
          
          <clr-dg-row *clrDgItems="let krb5 of krb5s" [clrDgItem]="krb5">
            <clr-dg-cell>{{krb5.krb5Id}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.clusterId}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.krb5Name}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.ipv4}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.ipv6}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.cpuCount}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.cpuInfo}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.totalMem}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.osType}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.modifyTime}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.createTime}}</clr-dg-cell>
            <clr-dg-cell>{{krb5.description}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{krb5s.length}} krb5s</clr-dg-footer>
        </clr-datagrid>
        
      </div>

    </div><!-- //Data Grid -->
    <!-- <div class="card-footer">
      <button class="btn btn-sm btn-link">Footer Action 1</button>
      <button class="btn btn-sm btn-link">Footer Action 2</button>
    </div> -->
  </div>
</div>

<!-- Create|Update Form -->
<clr-modal [(clrModalOpen)]="showForm" ng-class="fadeDown in">
    <h4 class="modal-title">Add Krb5</h4>
    <hr>

    <div class="modal-body">
        <hr>
        <form #clusterForm="ngForm" class="form" (ngSubmit)="onSubmit(clusterForm, cluster)">
            <section class="form-block">

                <div class="form-group">
                    <label for="krb5_clusterName">Krb5 Name</label>
                    <input type="text" id="krb5_clusterName" name="clusterName" [(ngModel)]="krb5.clusterName" placeholder="Common Name" />
                </div>

                <div class="form-group">
                    <label for="krb5_uidNumber">Krb5 Owner</label>
                    <input type="text" id="krb5_uid" name="uid" [(ngModel)]="krb5.uid" placeholder="UID Number" />
                </div>

                <div class="form-group">
                    <label for="krb5_mail">Krb5 Info</label>
                    <input type="text" id="krb5_info" name="clusterInfo" [(ngModel)]="krb5.clusterInfo" placeholder="EMail Address" />
                </div>

                <div class="form-group">
                    <label for="krb5_mobile">Security Type</label>
                    <input type="text" id="krb5_securityType" name="mobile" [(ngModel)]="krb5.securityType" readonly="" />
                </div>

                <div class="form-group">
                    <label for="krb5_description">Description</label>
                    <input type="text" id="krb5_description" name="description" [(ngModel)]="krb5.description" placeholder="Description" />
                </div>
                
            </section>

            <section>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-outline" (click)="showForm = false">Cancel</button>
              </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        
    </div>
</clr-modal>
<!-- // Create|Update Form -->

<clr-modal [(clrModalOpen)]="showMsg" ng-class="fadeDown in">
    <h4 class="modal-title">Info</h4>
    <hr>

    <div class="modal-body">
        <hr>
        <div class="alert {{opsMsgType}}">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{opsMessage}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</clr-modal>