<form><!-- Search Form -->
  <div class="form-group row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <label for="cluster_cn">Cluster Name</label>
    </div>
    <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
      <input class="form-control" type="text" id="cluster_name" name="clusterName" placeholder="Enter Cluster name here" size="20" [(ngModel)]="cluster.clusterName" />
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <label for="cluster_uid">User ID</label>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
      <input class="form-control" type="text" id="cluster_uid" name="uid" placeholder="Enter user uid here" size="20" [(ngModel)]="cluster.uid" />
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-primary btn-sm" (click)="search()">
        <clr-icon shape="search"></clr-icon>
        Search
      </button>
      <button class="btn btn-primary btn-sm" (click)="reset(clusterForm)">
        <clr-icon shape="search"></clr-icon>
        Reset
      </button>
    </div>
  </div>
</form><!-- // Search Form -->

<div><!-- Data Grid Actions -->
    <button class="btn btn-primary btn-sm" (click)="create()">
        <clr-icon shape="add"></clr-icon>
        Add User
    </button>
    <button class="btn btn-primary btn-sm" [disabled]="!singleSelected" (click)="update(singleSelected)">
        <clr-icon shape="edit"></clr-icon>
        Edit User
    </button>
    <button class="btn btn-danger btn-sm" [disabled]="!singleSelected" (click)="delete(singleSelected)">
        <clr-icon shape="remove"></clr-icon>
        Remove User
    </button>
</div><!-- // Data Grid Actions -->

<div><!-- Data Grid -->
    <clr-datagrid [(clrDgSingleSelected)]="singleSelected">
        <clr-dg-column>
            <ng-container *clrDgHideableColumn="{hidden: true}">ID</ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'clusterName'">Cluster Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'uid'">UID</clr-dg-column>
        <clr-dg-column [clrDgField]="'clusterInfo'">Cluster Info</clr-dg-column>
        <clr-dg-column [clrDgField]="'modifyTime'">Modify Time</clr-dg-column>
        <clr-dg-column [clrDgField]="'createTime'">Create Time</clr-dg-column>
        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
        <clr-dg-row *clrDgItems="let cluster of clusters" [clrDgItem]="cluster">
            <clr-dg-cell>{{cluster.clusterId}}</clr-dg-cell>
            <a class="nav-link" href="#" [routerLink]="['/cluster/cmp']" [queryParams]="{id: cluster.clusterId, name: cluster.clusterName}" routerLinkActive="active">
                <span class="nav-text"><clr-dg-cell>{{cluster.clusterName}}</clr-dg-cell></span>
            </a>
            

            <clr-dg-cell>{{cluster.uid}}</clr-dg-cell>
            <clr-dg-cell>{{cluster.clusterInfo}}</clr-dg-cell>
            <clr-dg-cell>{{cluster.modifyTime}}</clr-dg-cell>
            <clr-dg-cell>{{cluster.createTime}}</clr-dg-cell>
            <clr-dg-cell>{{cluster.description}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>{{clusters.length}} clusters</clr-dg-footer>
    </clr-datagrid>
</div><!-- // Data Grid -->

<!-- Create|Update Form -->
<clr-modal [(clrModalOpen)]="showForm" ng-class="fadeDown in">
    <h4 class="modal-title">Add Cluster</h4>
    <hr>

    <div class="modal-body">
        <hr>
        <form #clusterForm="ngForm" class="form" (ngSubmit)="onSubmit(clusterForm, cluster)">
            <section class="form-block">

                <div class="form-group">
                    <label for="cluster_clusterName">Cluster Name</label>
                    <input type="text" id="cluster_clusterName" name="clusterName" [(ngModel)]="cluster.clusterName" placeholder="Common Name" />
                </div>

                <div class="form-group">
                    <label for="cluster_uidNumber">Cluster Owner</label>
                    <input type="text" id="cluster_uid" name="uid" [(ngModel)]="cluster.uid" placeholder="UID Number" />
                </div>

                <div class="form-group">
                    <label for="cluster_mail">Cluster Info</label>
                    <input type="text" id="cluster_info" name="clusterInfo" [(ngModel)]="cluster.clusterInfo" placeholder="EMail Address" />
                </div>

                <div class="form-group">
                    <label for="cluster_mobile">Security Type</label>
                    <input type="text" id="cluster_securityType" name="mobile" [(ngModel)]="cluster.securityType" readonly="" />
                </div>

                <div class="form-group">
                    <label for="cluster_description">Description</label>
                    <input type="text" id="cluster_description" name="description" [(ngModel)]="cluster.description" placeholder="Description" />
                </div>
                
            </section>

            <section>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-outline" (click)="showForm = false">Cancel</button>
              </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        
    </div>
</clr-modal>
<!-- // Create|Update Form -->

<clr-modal [(clrModalOpen)]="showMsg" ng-class="fadeDown in">
    <h4 class="modal-title">Info</h4>
    <hr>

    <div class="modal-body">
        <hr>
        <div class="alert {{opsMsgType}}">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{opsMessage}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</clr-modal>